@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap');

.bodyCss{
    font-family: 'Carrois Gothic SC', sans-serif;


}
.mainBanner{
    margin: 0 auto;
    text-align: center;
    height: 70vh;
    background-color: pink;
    width: 92%;
    position: relative;
}

.carousel{
    display: flex;
    justify-content: space-around;
    height: 40vh;
}
.cardCategory{
    width: 25%;
    margin:  0 auto;
background-color: rgb(3, 63, 63);
text-align: center;
height: 30vh;
margin-left: 2rem;
margin-right: 2rem;

}
.cardCategory:nth-child(2n){
    background-color: palevioletred;
}

section .newArrivals{
    width: 92%;
    height: 40vh;
    background-color: darkolivegreen;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
