.path{
    display: flex;
    width: 90%;
    margin:1rem auto;
    align-items: center;
    gap: 0.5rem;
}
.gridProductContainer{
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: beige;
 
    width: 90%;
    margin: 1rem auto;
}

.productImage{
    height: 600px;
 background-color: mediumaquamarine;

}

.productDetails{
    height: 600px;
    background-color: chartreuse;
}
.productSpec{
    height:500px;
    background-color: gray;
}
.productSpec ul{
    display: flex;
    text-decoration: none;
    list-style-type: none;

    justify-content: space-around;
    position: relative;
}
.productSpec ul li{
    font-size: 2rem;
}

.prodSpecInfo{
    background-color: white;
    color: black;
    padding: 2rem 5rem;
    width: 90%;
    margin: 0 auto;
    height: 400px;
}
.productOption{
    height:500px;
    background-color: rgb(163, 215, 210);
}